/* ===format the style=== */

html {
    font-size: 20px;
    background-color: #F0F2F2;
}

* {
    margin: 0;
    padding: 0;
}


/* ===导航栏样式=== */

nav {
    background-color: #488BF4;
    height: 3.5rem;
    width: 100%;
    display: flex;
    /* ===设置flex box里的元素水平排列=== */
    flex-direction: row;
    /* ===设置flex box里的元素水平居中=== */
    justify-content: space-between;
    /* ===设置flex box里的元素垂直居中=== */
    align-items: center;
}


/* ===icon样式=== */

.icon {}

.icon img {
    width: 5rem;
    transform: translateY(1.5rem);
    transition: all 0.3s ease;
}


/* ===联系我们=== */

.contact-me {
    width: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
}

.contact-me p {
    color: white;
    font-size: 0.7rem;
    transition: all 0.3s ease;
}

.contact-me img {
    display: none;
}


/* ===导航栏右侧的按钮=== */

.toggle-menu {
    width: 5rem;
    padding-right: 1rem;
    display: flex;
    /* ===设置flex box里的元素水平排列=== */
    flex-direction: row;
    /* ===设置flex box里的元素右对齐=== */
    justify-content: flex-end;
    /* ===设置flex box里的元素垂直居中=== */
    align-items: center;
}

.toggle-menu img {
    width: 1rem;
}


/* ===菜单初始样式=== */

.menu {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 110vw;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s ease;
}


/* ===菜单显示时的样式=== */

.menu-active {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease;
}


/* ===菜单中的按钮=== */

.menu-icon {
    width: 5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
}


/* ===菜单中的列表信息=== */

.menu-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-info li {
    width: 90%;
    padding: 1rem 0;
    border-bottom: 1px solid #353535;
}

.menu-info li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
}


/* ===菜单中的关闭按钮=== */

.menu-x {
    position: absolute;
    width: 1rem;
    top: 1.5rem;
    right: 1rem;
}


/* ===屏幕宽度大于640px时的样式=== */

@media screen and (min-width: 640px) {
    /* ===icon样式=== */
    .icon img {
        width: 8rem;
        transform: translateY(1.5rem);
        transition: all 0.3s ease;
    }
    /* ===鼠标放到icon的图片上时，图片网上偏移=== */
    .icon img:hover {
        transform: translateY(0.8rem);
        transition: all 0.3s ease;
    }
    /* ===联系我们=== */
    .contact-me {
        width: 8rem;
    }
    /* ===鼠标放置到‘联系我们’几个字时，‘联系我们’几个字放大1.2倍=== */
    .contact-me p:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }
    .contact-me img {
        width: 1.2rem;
        height: 1.2rem;
        padding-left: 0.5rem;
        transition: all 0.3s ease;
        display: block;
    }
    /* ===鼠标放置到‘联系我们’几个字旁边的图标时，图标放大1.2倍=== */
    .contact-me img:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }
    /* ===导航栏右侧的按钮=== */
    .toggle-menu {
        width: 8rem;
    }
    .toggle-menu img {
        width: 1.5rem;
        padding: 1rem;
        transition: all 0.3s ease;
    }
    /* ===鼠标放置到menu图标时，图标放大1.2倍=== */
    .toggle-menu img:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }
    /* ===菜单中的按钮=== */
    .menu-icon {
        width: 8rem;
        margin-top: 1.2rem;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    /* ===菜单中的关闭按钮=== */
    .menu-x {
        position: absolute;
        width: 1.2rem;
        top: 1.2rem;
        right: 2rem;
    }
}
